<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de produto</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <div id="menuPrincipal" class="menuPrincipal ocultar">
      <div class="menuItens">
        <a class="btn btn-secondary itemMenu" href="/cadastrar">Cadastrar produto</a>
        <a class="btn btn-secondary itemMenu" href="/transferir">Transferir endereço</a>
        <a class="btn btn-secondary itemMenu" href="/listar">Listar produtos</a>
        <br/>
        <button id="btn_logout" class="btn btn-danger">Deslogar</button>
    </div>
        <div>
            <img src="/imgs/menu.svg" id="btn_menu" class="btn_menu"/>
        </div>
    </div>

    <div class="headerContainer">
        <h1>Cadastrar Produto</h1>
    </div>
    <main>
        <div class="formContainer">
                <form id="formularioCadastro">
                    <fieldset class="row mb-3">
                      <div class="row mb-3">
                        <label for="codProduto" class="col-sm-2 col-form-label">Cod. produto</label>
                        <div class="col-sm-4">
                        <input type="text" class="form-control" id="codProduto" placeholder="Código do produto">
                      </div>
                    </fieldset>
                    <fieldset class="row mb-3">
                      <div class="row mb-3">
                        <label for="nomeProduto" class="col-sm-2 col-form-label">Nome</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="nomeProduto" placeholder="Nome do produto">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="quantidadeProduto" class="col-sm-2 col-form-label">Quantidade</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="quantidadeProduto" placeholder="Quantidade do produto">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="endProduto" class="col-sm-2 col-form-label">Endereço</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="endProduto" placeholder="Endereço do produto">
                        </div>
                      </div>
                      </fieldset>
                      <fieldset class="row mb-3">
                      <div class="form-group">
                        <label for="descProduto">Descrição</label>
                        <textarea class="form-control" id="descProduto" rows="3"></textarea>
                      </div>
                      </fieldset>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                      </div>
                    <div id="mensagemCadastro"></div>
                  </form>
        </div>
    </main>
    <script src="/js/jquery.js"></script>
    <script src="/js/scripts.js"></script>
    <script>
        $(document).ready(function() {
            $.get("/api/check").fail(function(){
                window.location.href = "/";
            });
        });
    </script>
</body>
</html>