<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de produto</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <div id="menuPrincipal" class="menuPrincipal ocultar">
      <div class="menuItens">
        <a class="itemMenu" href="/cadastrar">Cadastrar produto</a>
        <a class="itemMenu" href="/transferir">Transferir endereço</a>
        <a class="itemMenu" href="/listar">Listar produtos</a>
        <br/>
        <button id="btn_logout" class="btn btn-danger">Deslogar</button>
    </div>
        <div>
            <img src="/imgs/menu_white.svg" id="btn_menu" class="pointer"/>
        </div>
    </div>
        <form id="formularioCadastro" class="form_large">

              <h3>Cadastro</h3>

              <label for="codProduto">* Cod. produto</label>
              <input type="text" id="codProduto" placeholder="Código do produto">

              <label for="nomeProduto">* Nome</label>
              <input type="text" id="nomeProduto" placeholder="Nome do produto">

              <label for="quantidadeProduto">* Quantidade</label>
              <input type="text" id="quantidadeProduto" placeholder="Quantidade do produto">

              <label for="endProduto">* Endereço</label>
              <input type="text" id="endProduto" placeholder="Endereço do produto">

              <label for="descProduto">Descrição</label>
              <input type="text" id="descProduto" placeholder="Descrição do produto">

              <div id="mensagemCadastro"></div>
              <div class="center">
                <button type="submit" class="btnEnvio">Cadastrar</button>
              </div>

        </form>
    <script src="/js/jquery.js"></script>
    <script src="/js/scripts.js"></script>
    <script>
        $(document).ready(function() {
            $.get("/api/check").fail(function(){
                window.location.href = "/";
            });
        });
    </script>
</body>
</html>