<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
        <form id="formularioAcesso">
            <h3>Login</h3>
        
            <label for="usuario">Usuário</label>
            <input type="text" placeholder="Nome de usuário" id="usuario">

            <label for="senha">Senha</label>
            <input type="password" placeholder="Senha" id="senha">
            
            <div id="loginError" style="color: red;"></div>
            
            <button type="submit" id="btn_logar">Logar</button>
        </form>
    <script src="/js/jquery.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>