<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <main>
        <div class="formContainer row g-3">
            <form id="formularioAcesso">
                <div class="row mb-3">
                    <div class="col-sm-12">
                      <input type="text" class="form-control" id="usuario" placeholder="Usuário">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12">
                      <input type="password" class="form-control" id="senha" placeholder="Senha">
                    </div>
                </div>
                <div id="mensagemErro" style="color: red;"></div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" id="btn_logar" class="btn btn-primary">Logar</button>
                </div>
            </form>
        </div>
    </main>

    <script src="/js/jquery.js"></script>
<!--    <script src="/js/script.js"></script>-->
    <script>
        $('#formularioAcesso').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/api/login",
                contentType: "application/json",
                data: JSON.stringify({
                    usuario: $('#usuario').val(),
                    senha: $('#senha').val()
                }),
                success: function(response) {
                    $('#mensagemErro').html('');
                    window.location.href = "/cadastrar";
                },
                error: function(err) {
                    $('#mensagemErro').html("Usuário/Senha incorretos.");
                    console.log(err);
                }
            });
        });
    </script>
</body>
</html>