<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar produtos</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <div id="menuPrincipal" class="menuPrincipal ocultar">
      <div class="menuItens">
        <a class="itemMenu" href="/cadastrar">Cadastrar produto</a>
        <a class="itemMenu" href="/transferir">Transferir endereço</a>
        <a class="itemMenu" href="/listar">Listar produtos</a>
        <br/>
        <button id="btn_logout" class="btn btn-danger">Deslogar</button>
    </div>
        <div>
            <img src="/imgs/menu_white.svg" id="btn_menu" class="pointer"/>
        </div>
    </div>

    <form class="form_large">

        <h3>Buscar Produto</h3>

        <div class="right">
            <label for="codProduto">Cod. produto</label>
            <input type="text" id="codProduto" placeholder="Deixe vazio para buscar todos os produtos" style="width: 80%;">
            <button id="btn_buscar" type="button" style="width: 20%;">Buscar</button>
        </div>

        <div id="resultadoBusca"></div>

        <table id="tabelaProdutos" class="table table-striped" style="margin-top: 6px;">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Endereço</th>
                    <th>Descrição</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        
    </form>

    <script src="/js/jquery.js"></script>
    <script src="/js/scripts.js"></script>
    <script>
        $(document).ready(function() {
            $.get("/api/check").fail(function(){
                window.location.href = "/";
            });
        });
    </script>
</body>
</html>